# Frontend dependencies
frontend_ui/node_modules
frontend_ui/.pnp
frontend_ui/.pnp.js

# Frontend testing
frontend_ui/coverage

# Frontend production
frontend_ui/build

# Frontend misc
frontend_ui/.DS_Store
frontend_ui/.env.local
frontend_ui/.env.development.local
frontend_ui/.env.test.local
frontend_ui/.env.production.local
frontend_ui/npm-debug.log*
frontend_ui/yarn-debug.log*
frontend_ui/yarn-error.log*
